### Intellij ###
*.iml

## Directory-based project format:
.idea/

### Android ###
.gradle/
build/
/*/build/

# Local configuration file (sdk path, etc)
local.properties


### Java ###
*.class

# Package Files #
*.jar
